body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

a {
  color: #00ffcc;
}

footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: gray;
}

video {
  width: 300px;
  margin-top: 20px;
}

img {
  width: 300px;
  margin-top: 20px;
}
